# =========================
# Unity generated folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Cc]rashlytics/
*.pid
*.lock

# =========================
# OS / editor
# =========================
.DS_Store
Thumbs.db
desktop.ini
.vs/
.idea/
*.user
*.userprefs
*.suo